.*.swp
*.pyc

# Build products

bgnet.valid
build/
builders/html/*.tgz
builders/html/*.zip
builders/html/multipage/*.html
builders/html/multipage/*.css
builders/html/multipage/*.png
builders/html/singlepage/*.html
builders/html/singlepage/*.css
builders/html/singlepage/*.png
builders/print/*.fo
builders/print/*.pdf
builders/print/*.ps
builders/print/*.png

# Translation PDFs

translations/*.pdf

