Redirect 301 /guide/bgnet/html/single https://beej.us/guide/bgnet/html/
Redirect 301 /guide/bgnet/html/single/ https://beej.us/guide/bgnet/html/
Redirect 301 /guide/bgnet/html/single/index.html https://beej.us/guide/bgnet/html/
Redirect 301 /guide/bgnet/html/multi https://beej.us/guide/bgnet/html/
Redirect 301 /guide/bgnet/html/multi/ https://beej.us/guide/bgnet/html/
RedirectMatch 301 /guide/bgnet/html/multi/.*\.html https://beej.us/guide/bgnet/html/
Redirect 301 /guide/bgnet/pdf/bgnet_USLetter.pdf https://beej.us/guide/bgnet/pdf/bgnet_usl_c_1.pdf
Redirect 301 /guide/bgnet/pdf/bgnet_USLetter_2.pdf https://beej.us/guide/bgnet/pdf/bgnet_usl_c_2.pdf
Redirect 301 /guide/bgnet/pdf/bgnet_A4.pdf https://beej.us/guide/bgnet/pdf/bgnet_a4_c_1.pdf
Redirect 301 /guide/bgnet/pdf/bgnet_A4_2.pdf https://beej.us/guide/bgnet/pdf/bgnet_a4_c_2.pdf
